---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?exclude_archived=1&pretty=1&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Router:
      - p
      X-Slack-Req-Id:
      - 9c210878-aad6-4714-ade4-51011850bf29
      X-Oauth-Scopes:
      - read,client,identify,post,apps
      X-Accepted-Oauth-Scopes:
      - channels:read,read
      X-Slack-Exp:
      - '1'
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-06bf
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": true,
            "channels": [
                {
                    "id": "CDGM58QLV",
                    "name": "adoptsysquad",
                    "is_channel": true,
                    "created": 1539800364,
                    "is_archived": false,
                    "is_general": false,
                    "unlinked": 0,
                    "creator": "UB8471T4Z",
                    "name_normalized": "adoptsysquad",
                    "is_shared": false,
                    "is_org_shared": false,
                    "is_member": false,
                    "is_private": false,
                    "is_mpim": false,
                    "members": [],
                    "topic": {
                        "value": "",
                        "creator": "",
                        "last_set": 0
                    },
                    "purpose": {
                        "value": "Talk about adoptsy!",
                        "creator": "UB8471T4Z",
                        "last_set": 1539800365
                    },
                    "previous_names": [],
                    "num_members": 5
                },
                {
                    "id": "CC68HF68M",
                    "name": "beyond_the_wall",
                    "is_channel": true,
                    "created": 1533860121,
                    "is_archived": false,
                    "is_general": false,
                    "unlinked": 0,
                    "creator": "UB8EM39NY",
                    "name_normalized": "beyond_the_wall",
                    "is_shared": false,
                    "is_org_sha[...]
